useDynLib(dfcomb, .registration = TRUE, .fixes="C_")
export(CombIncrease_sim)
S3method(print, CombIncrease_sim)
export(CombIncrease_next)
S3method(print, CombIncrease_next)
export(CombPlateau_sim)
S3method(print, CombPlateau_sim)
export(CombPlateau_next)
S3method(print, CombPlateau_next)
